html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --color-100: #ffffff;
  --color-200: rgba(111, 115, 127, 0.15);
  --color-300: #3b4050;
  --color-400: #2e323f;
  --color-alt: #a59678;
  --ff-primary: "Oswald", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
}

body {
  font-family: var(--ff-primary);
}

header {
  background-color: var(--color-400);
}

nav {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 1.125rem;
}

.logo {
  display: inline-block;
  padding-top: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: none;
  margin: 0 auto;
}

h2 {
  color: var(--color-alt);
}

.nav_item {
  padding-top: 1em;
}

.nav_link {
  text-transform: uppercase;
}

ion-icon {
  color: var(--color-100);
  font-size: 2rem;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 0;
  border: 1px solid transparent;
}

img {
  max-width: 100%;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--color-alt);
  border-radius: 4em;
  padding: 0.25em 1.5em;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-100);
}

a:hover,
a:focus {
  text-decoration: var(--color-alt) underline 5px;
}

/* =====================
    Intro Section
===================== */
.one {
  background-color: var(--color-300);
  padding: 5em 0;
}

.intro {
  color: var(--color-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.intro_head {
  font-size: 4rem;
  line-height: 150%;
}

.intro_head span {
  color: var(--color-alt);
}

.intro_extra {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
}

.intro_extra button {
  font-family: var(--ff-primary);
  color: var(--color-100);
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 1em 0;
  border: 1px solid transparent;
  cursor: pointer;
}

/* =====================
    Features Section
===================== */
.features {
  background-color: var(--color-200);
  text-align: center;
  padding: 3em 0;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.feat_head {
  font-size: 30px;
}

.feat_text {
  font-family: var(--ff-secondary);
  font-size: 18px;
}

/* =====================
    Breakdown Section
===================== */
.breakdown {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.break_head {
  font-size: 36px;
}

.break_text {
  font-family: var(--ff-secondary);
  font-size: 21px;
  padding: 1em 0;
}

.break_2_block {
  background-color: var(--color-400);
  padding: 1em 0;
  text-align: center;
}

.break_2 {
  color: var(--color-100);
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.break_2_head {
  color: var(--color-100);
  padding-bottom: 0.5em;
}

.break_2_text {
  font-family: var(--ff-secondary);
  font-size: 18px;
}

.break_div {
  width: 80%;
  margin: 0 auto;
}

/* =====================
    Footer Section
===================== */
footer {
  background-color: var(--color-400);
  padding: 4em 0;
}

h3 {
  color: var(--color-alt);
  font-size: 21px;
  padding-bottom: 0.5em;
  text-align: center;
}

.footer_head {
  color: var(--color-100);
  text-align: center;
  font-size: 24px;
}

.row {
  display: flex;
}

.center {
  margin: 0 auto;
}

.footer_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_div {
  width: 100%;
  padding-top: 2em;
}

.footer_text {
  font-family: var(--ff-secondary);
  font-size: 1rem;
  color: var(--color-100);
  padding-top: 1em;
}

/* =====================
Media Queries Section
===================== */
@media (min-width: 700px) {
  .nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav_item {
    padding-top: 0;
  }

  .nav_item + .nav_item {
    margin-left: 2em;
  }

  .menu {
    display: none;
    position: static;
  }

  .nav {
    display: inline-block;
  }

  .break_2 {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 1000px) {
  .intro {
    flex-direction: row;
    align-items: flex-end;
  }

  .intro_head {
    width: 100%;
    font-size: 5.625rem;
  }

  .intro_extra {
    width: 100%;
  }

  .intro_head + .intro_extra {
    margin-left: 1em;
  }

  .breakdown .flex {
    flex-direction: row;
    align-items: flex-start;
  }

  .break_1 {
    width: 60%;
  }

  .break_2 {
    flex-direction: column;
    width: 30%;
  }

  .features {
    padding: 7em 0;
  }

  .feat + .feat {
    margin-left: 15em;
  }

  .flex {
    flex-direction: row;
  }

  .footer_flex {
    flex-direction: row;
  }

  h3 {
    text-align: left;
  }

  .center {
    margin: 0;
  }

  .row {
    flex-direction: column;
  }

  .footer_div + .footer_div {
    margin-left: 3em;
  }

  .main {
    width: 30%;
  }

  .secondary {
    width: 20%;
  }

  .main + .secondary {
    margin-left: 15em;
  }
}
